body
header {color:cadetblue; 
        font-size: xx-large;
}
h2 {
    color: cornflowerblue;
    font-size: x-large;
}
h4 {
    color: coral;
    font-size: 30px;
}
h3 {
    color: indianred;
    font-size: 35px;
}